*{
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
    background-color: #52489C;
}
h1{
    text-align: center;
    color: #EBEBEB;
    border:solid;
    /* background-color : #59C3C3; */
}
p{
    color:#EBEBEB;
    text-align: center;
    /* padding-top: 10px;
    padding-bottom:10px; */
}
.caption{
    position: relative
}
#gallery {
    line-height:20px;
    column-count:4;
    column-gap:20px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; */
}

#gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;

}

a:visited{
    color:#0a0a0a ;
}
.item{
    object-fit: contain;
    margin: 10px;
    width: 100%;
    height: auto;
    position: relative;
}
.caption{
    background-color: rgba(228, 228, 228, 0.548);
    color:black;
    position: absolute;
    bottom:5%;
    top:auto;
    width:100%
}
