body{
    background-color: black;
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/databank_alderaan_01_169_4a5264e2.jpeg?region=0%2C0%2C1560%2C878&width=960");
    background-repeat: no-repeat;
    background-size:contain;
}
h3{
    font-weight: 900;
    color: blanchedalmond;
    border: black 1px;
}
