*node_modules*
.vscode
*demos
/codechallenges/order-summary-component-main
labs/html-css-2/drill-1/first.png
labs/html-css-2/drill-2/second.png
labs/html-css-2/drill-3/third.gif
labs/html-css-2/drill-3/third.png
.gitignore

labs/js-interactivity/exampleMovieList.png
