body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
	list-style: circle;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}
img {
	max-width: 300px;
}
#hear{
	display:inline-block;
}
ul{
	width: fit-content;
}
ul:hover{
	border: black solid 1px;
	color:black
}

#AboutNorman{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#workExp{
	max-width: 45%;
}
#photo{
	max-width: 45%;
}
#favorites{
	text-align: center;
	padding:10px
}
#color{
	padding: 10px;
	background-color: yellow;
}
#place{
	padding: 10px;
	background-color: yellow;
}
#ritual{
	padding: 10px;
	background-color: yellow;
}
label{
	display: block;
}