body {
  margin:0;
  font-family: sans-serif;
  padding:0;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.51em;
  position: fixed;
  top: 0;
  background-color: #212529;
  z-index: 1;
}
.title {
  color: #ffc800;
  margin-left: 2em;
}
.navLinks {
  width:70vw;
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
  gap:1.75em
}
.navLink {
  border: none;
  box-shadow: none;
  text-decoration: unset;
  background-color: unset;
  color: #fff;
  font-size: 1em;
}
.navLink:hover {
  color: #ffc800;
  cursor: pointer;
}
.masthead {
  width: 100%;
  padding-top: 17rem;
  padding-bottom: 12.5rem;
  text-align: center;
  color: #fff;
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.container {
  text-align: center;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.subheading {
  font-size: 3em;
  font-style: italic;
  line-height: 1.75em;
  margin-bottom: 1em;
}
.heading {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 2em;
}
.bigYellowButton {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: bold;
  color: inherit;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #ffc800;
  border-radius: 5px;
  text-decoration: unset;
}
.section{
  padding-top: 3em;
  max-width: 100%;
}
.container>h1{
  font-size: 3em;
}
.container>h2{
  font-style: italic;
  color:#6c757d;
  font-size: 1.25em;
}
.serviceCards{
  margin-top: 5em;
  display: flex;
  justify-content: center;
  gap:1em;
}
.serviceCard{
  width: 25%;
}
p{
  line-height: 2em;
  color:#6c757d;
}
.roundicon{
  margin:auto;
  width:124px;
  height:124px;
  border-radius: 72px;
  background-color: #ffc800;
}
.portfolio{
  background-color: #F8F9FA;
}
.imgCards{
  width: 90%;
  max-width: 70rem;
  margin:auto;
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  gap:1em;
  justify-content:center;
  align-items: center;
}
.imgCard{
  max-width: 20rem;
  background-color: #fff;
}
.imgCardLink>img{
  object-fit: contain;
  width: 100%;
  height: inherit;
}
.imgCardLink{
  position: relative;
  width: 100%;
  height: 240px;
}
.imgCardHover{
  font-size: 8em;
  color: #fff;
  width: 100%;
  height: inherit;
  background-color: #ffc800;
  position: absolute;
  display: none;
}
.imgCardLink:hover > .imgCardHover{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}