.usercard{
  margin: auto;
  margin-top: 5rem;
  background-color:#EBEBEB ;
  width: 30%;
  height: 20rem;
  padding-right: 20rem;
  padding-bottom: 3rem;
  position: relative;
}
.currView{
  padding-top:0;
  position: absolute;
  right:.5rem;
  top:-1rem;
}
.usercard>*{
  margin-left: 5rem;
}
.usercard>p{
  line-height: .5rem;
}
.movies{
  padding-top: 1rem;
  margin-bottom: -.5rem;
}
.name{
  text-decoration: underline #34A5DA;
  padding-top: 2rem;
}
